{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <h2>Category: {{category}}</h2>

</div>
<div class="container" id="listings">
    {% for item in items %}
    <div class="card mb-3" style="max-width: 540px;" id="card-listings">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{item.link}}" class="card-img" alt="{{item.title}}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              <p class="card-text">{{item.description}}</p>
              <p class="card-text">${{item.price}}</p>
              <a href="{% url 'listings' item.id %}"><button class="btn btn-outline-primary">View More</button></a>
              <p class="card-text"><small class="text-muted">{{item.time}}</small></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
</div>
{% endblock %}