{% extends "auctions/layout.html" %}
{% block body %}
<div class="container">
    <h2>Your Winning Bids</h2>
</div>
<div class="container" id="listings">
    {% for item in items %}
      {% for i in item %}
        <div class="card mb-3" style="max-width: 540px;" id="card-listings">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{{i.link}}" class="card-img" alt="{{i.title}}">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{i.title}}</h5>
                  <p class="card-text">{{i.description}}</p>
                  {% for winningItem in winningItems %}
                    {% if i.listing_id == winningItem.listing_id %}
                      <p class="card-text"><b>Final Bid: </b>${{winningItem.winprice}}</p>
                      <p class="card-text"><b>Owner: </b>{{winningItem.owner}}</p>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% empty %}
        <br>
        <h5>No winnings at the moment. <a href="{% url 'index' %}">View listings here!</a></h5>
      {% endfor %}
</div>
{% endblock %}